<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!-- xml 주석 -->
 <!-- db는 슬래시+아스테리스크 주석. 
  화살표 주석과 아스테리스크 주석 같이 쓰면 에러남
  띄어쓰기도 꼭 확인하기 -->
    
 <mapper namespace="ksmybatis.admin.member.mapper.MemberMapper">
  <resultMap type="Member" id="memberResultMap">
  	<id column="mbr_id" property="memberId" /> 
  	<result column="mbr_pw" property="memberPw" />
  	<result column="mbr_name" property="memberName" />
  	<result column="mbr_grd" property="memberLevel" />
  	<result column="comm_nm" property="memberLevelName" />
  	<result column="mbr_addr" property="memberAddress" />
  	<result column="mbr_daddr" property="memberDAddress" />
  	<result column="mbr_zip" property="memberZip" />
  	<result column="mbr_telno" property="memberTelNo" />
  	<result column="mbr_email" property="memberEmail" />
  	<result column="mbr_reg_date" property="memberRegDate" />
  </resultMap>
  
  <delete id="removeMemberById" parameterType="string">
		/*회원 탈퇴*/
		DELETE
		FROM
			members
		WHERE
			mbr_id = #{memberId};
  </delete>
  
  <delete id="removeMemberLoginLogById" parameterType="string">
  		/*특정 회원 로그인 이력 삭제*/
  		DELETE
		FROM
			members_login_log
		WHERE
			login_id = #{memberId};
  </delete>
  
  <update id="modifyMemberInfo" parameterType="Member">
    	/*업데이트 아래로 공백 쓰면 오류남*/
    	/*특정 회원 수정*
    	UPDATE members
    	<trim prefix="set" suffixOverrides=",">
    		<if test="memberPw != null and memberPw != ''">
    			mbr_pw = #{memberPw},
    		</if>
    		<if test="memberName != null and memberName != ''">
    			mbr_name = #{memberName},
    		</if>
    		<if test="memberLevel != null and memberLevel != ''">
    			mbr_grd = #{memberLevel},
    		</if>
    		<if test="memberAddress != null and memberAddress != ''">
    			mbr_addr = #{memberAddress},
    		</if>
    		<if test="memberDAddress != null and memberDAddress != ''">
    			mbr_daddr = #{memberDAddress},
    		</if>
    		<if test="memberZip != null and memberZip != ''">
    			mbr_zip = #{memberZip},
    		</if>
    		<if test="memberTelNo != null and memberTelNo != ''">
    			mbr_telno = #{memberTelNo},
    		</if>
    		<if test="memberEmail != null and memberEmail != ''">
    			mbr_email = #{memberEmail},
    		</if>
    	</trim>
    	WHERE
    		mbr_id = #{memberId};
 </update>
		
    	
  

  
   <select id="getMemberInfoById" parameterType="String" resultMap="memberResultMap">
  		/* 특정 회원 조회 */
  		 SELECT
			m.mbr_id,
			m.mbr_pw,
			m.mbr_name,
			m.mbr_grd,
			cc.comm_nm,
			m.mbr_addr,
			m.mbr_daddr,
			m.mbr_zip,
			m.mbr_telno,
			m.mbr_email,
			m.mbr_reg_date
		FROM
			members m INNER JOIN comm_code cc
			ON m.mbr_grd = cc.comm_cd
		WHERE
			m.mbr_id = #{memberId};
  
  </select>
  
  	<insert id="addMember" parameterType="Member">
  	INSERT INTO members
            (mbr_id, mbr_pw, mbr_name, mbr_grd, mbr_addr, mbr_daddr, 
             mbr_zip, mbr_telno, mbr_email, mbr_reg_date)
        VALUES
            (#{memberId}, #{memberPw}, #{memberName}, #{memberLevel}, #{memberAddress},
             #{memberDAddress}, #{memberZip}, #{memberTelNo}, #{memberEmail}, CURDATE());
	</insert>
  
  <select id ="checkMemberById" parameterType ="string" resultType="boolean">
  		SELECT
			count(*)
		FROM
			members m
		WHERE
			m.mbr_id = #{memberId};
  </select>

	 <select id="getMemberList" resultMap="memberResultMap">
	 /* 회원목록조회 */
		 SELECT
			m.mbr_id,
			m.mbr_pw,
			m.mbr_name,
			m.mbr_grd,
			cc.comm_nm,
			m.mbr_addr,
			m.mbr_daddr,
			m.mbr_zip,
			m.mbr_telno,
			m.mbr_email,
			m.mbr_reg_date
		FROM
			members m INNER JOIN comm_code cc
			ON m.mbr_grd = cc.comm_cd
		ORDER BY CAST(substring_index(mbr_id,'ksmartid',-1) AS unsigned);
	 </select>
	 
	 
 </mapper>